@import './variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  width: 116rem;
  justify-content: center;
  @media screen and (max-width: $break-large) {
    width: 100%;
  }

  .footer__section__name {
    font-family: $primary-font;
    color: $total-black;
    font-size: 1.4rem;
    padding-bottom: 2.5rem;
  }

  .footer_container__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border: .1rem solid $seperator-line-grey;
    padding: 4.2rem 3rem 1rem 3rem;

    @media screen and (max-width: $break-medium) {
      padding: 4.2rem 2rem;
    }

    .footer__section__links {
      width: 25.9%;

      @media screen and (max-width: $break-medium) {
        width: 50%;
      }

      @media screen and (max-width: $break-small) {
        width: 100%;
      }
    }

    .footer__info {
      .footer__info__link {
        font-family: $secondary-font-regular;
        font-size: 1.3rem;
        color: $total-black;
        padding-bottom: 2.3rem;

        &:hover {
          color: $black-greyer;
          cursor: pointer;
        }
      }
    }

    .footer__section__payTypes {
      width: 41.81%;

      @media screen and (max-width: $break-medium) {
        width: 50%;
      }

      @media screen and (max-width: $break-small) {
        width: 100%;
        padding-top: 2.2rem;
      }

      .footer_section_about {
        font-family: $secondary-font-regular;
        font-size: 1.3rem;
        color: $total-black;
        padding-bottom: 1.5rem;
        line-height: 1.8rem;
        color: $light-grey-3;
      }
      .footer_section_about_red {
        color: $theme-color;
      }
    }

    .footer__section__contacts {
      width: 32.2%;

      @media screen and (max-width: $break-medium) {
        width: 100%;
        padding-top: 2.2rem;
      }

      .footer__newsletter__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 4.5rem;

        @media screen and (max-width: $break-medium) {
          justify-content: flex-start;
        }
        .footer__newsletter__input {
          width: 24.1rem;
          height: 3.2rem;
          padding-left: 1.9rem;
          border: .1rem solid $light-grey;
          border-radius: $round-radius;
          font-family: $secondary-font-regular;
          box-sizing: border-box;

          input {
            border: 0;
            font-size: 1.2rem;
          }

          input::-webkit-input-placeholder {
            color: $light-grey-3;
          }
        }

        .footer__newsletter__button {
          height: 3.2rem;
          width: 10.5rem;
          border: 0;
          padding: 1.2rem 1rem;
          margin-left: 2.5rem;
        }
      }

      .footer__section_contact {
        .footer_contact__number {
          font-family: $secondary-font-bold;
          font-size: 3rem;
          color: $light-grey-3;
          padding-bottom: 2.5rem;
        }

        .footer_contact__email {
          font-family: $secondary-font-bold;
          font-size: 1.4rem;
          color: $total-black;
        }
      }
    }
  }

  .footer__container__rights {
    padding: 4rem 0 4rem 3rem;

    @media screen and (max-width: $break-medium) {
      padding: 4rem 0 4rem 2rem;
    }
    .footer__rights__about {
      font-family: $secondary-font-regular;
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: $black-greyer;
    }
  }
}