@import "./variables.scss";

.header {
  height: 15rem;
  max-width: 116rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;

  @media screen and (max-width: $break-medium) {
    padding: 0 2rem;
  }

  .header__nav__burger {
    position: absolute;
    left: -99rem;

    @media screen and (max-width: $break-medium) {
      left: 3rem;
      top: 3rem;
      z-index: 9;

      &:hover {
        cursor: pointer;
      }
    }

  }
  .header__menuOptions {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem 0 1rem 0;

    @media screen and (max-width: $break-medium) {
      flex-direction: column;
    }

    .header__logo {
      margin-right: auto;

      @media screen and (max-width: $break-medium) {
        margin: 0 auto;
      }
    }

    .header__container {
      display: flex;

      @media screen and (max-width: $break-medium) {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around
      }

      @media screen and (max-width: $break-small) {
        flex-direction: column;
      }

      .header__searchBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: .1rem solid $light-grey;
        border-radius: $round-radius;
        font-family: $secondary-font-regular;
        padding: 1rem 1.8rem .8rem 1.5rem;
        width: 23.9rem;
        height: 3.2rem;

        @media screen and (max-width: $break-medium) {
          display: none;
        }

        input {
          border: 0;
          font-size: 1.3rem;
        }

        input::-webkit-input-placeholder {
          color: $light-input-grey;
        }
      }

      .header__userInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 3.3rem;

        @media screen and (max-width: $break-medium) {
          display: none;
          margin: 1rem;
        }

        p {
          font-size: 1.3rem;
          font-family: $secondary-font-regular;
          padding-left: .9rem;
        }
      }
      .header__shoppingCart {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2.5rem;

        @media screen and (max-width: $break-medium) {
          display: none;
          margin: 1rem;

        }

        p {
          font-size: 1.3rem;
          font-family: $secondary-font-regular;
          padding-left: .9rem;
        }
      }

      .header__shoppingButton {
        height: 3.2rem;
        width: 10.5rem;
        border: 0;
        padding: 1.2rem 1rem;
        margin-left: 2.5rem;

        @media screen and (max-width: $break-medium) {
          display: none;
          margin-left: 0;
        }
      }
    }
  }

  .header__seperator {
    display: flex;
    align-items: center;
    flex-direction: row;
    p {
      font-family: $secondary-font-regular;
      padding-left: 2.7rem;
      padding-right: .8rem;
      color: $light-header-grey;
      font-size: 1.1rem;
      white-space: nowrap;
    }

    @media screen and (max-width: $break-medium) {
      p {
        padding-left: 0;
      }
    }

    .header__seperatorLine {
      height: .1rem;
      width: 100%;
      background-color: $seperator-line-grey;
    }
  }

  .navigation {
    padding-top: 2.5rem;
    .navigation__container {
      display: flex;
      flex-direction: row;
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      &::-webkit-scrollbar {
        display: none;
      }

      .navigation__container__item {
        display: flex;
        align-items: center;
        padding-right: 4.2rem;
        color: $black;
        font-family: $primary-font;
        font-size: 1.3rem;
        position:relative;

        &:hover {
          color: $black-greyer;
          cursor: pointer;
        }
      }

      .navigation__container__icon {
        margin-left: .9rem;
        margin-bottom: .3rem;
        height: .4rem;
        border-top: solid .4rem $black;
        border-left: solid .3rem transparent;
        border-right: solid .3rem transparent;
      }
    }
  }
}

.header__menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 16rem;
  z-index: 8;
  overflow: hidden;
  background-color: $white;

  @media screen and (min-width: $break-medium) {
    display: none;
  }

  @media screen and (max-width: $break-small) {
    height: 25rem;
  }
}

.display__items {
  @media screen and (max-width: $break-medium) {
    z-index: 9;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: $break-small) {
  }
}


