@import './variables.scss';
@import './header.scss';
@import 'intro.scss';
@import './recent.scss';
@import './products.scss';
@import './footer.scss';

.main__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.theme__button {
  background-image: linear-gradient(to bottom, #FFA060, $theme-color);
  border: 0;
  color: $white;
  border-radius: $round-radius;
  font-family: $primary-font;
  box-shadow: 0 .1rem .2rem 0 $box-shadow-black;
  cursor: pointer;
}