@import "./variables.scss";

.section__intro {
  width: 100%;

  .section__intro__backgroundImage {
    width: 100%;
    height: 54.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/src/assets/images/banner.png');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;

    @media screen and (max-width: $break-large) {
      width: auto;
    }
    @media screen and (max-width: $break-medium) {
      background: $light-grey-intro;
      align-items: flex-start;
    }

    .section__intro__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 110rem;

      @media screen and (max-width: $break-large) {
        width: 82rem;
      }

      @media screen and (max-width: $break-medium) {
        width: 80%;
        padding-left: 2rem;
      }

      .section__intro__heading {
        font-size: 5.1rem;
        font-family: 'lovelo';
        color: $white;
        padding-bottom: 2rem;
        max-width: 55rem;
        line-height: 4.5rem;
      }

      .section__intro__description {
        font-size: 1.4rem;
        font-family: 'lato-regular';
        color: $black-greyer;
        padding-bottom: 5.7rem;
        max-width: 60rem;

      }

      .section__intro__button {
        width: 17.5rem;
        height: 3.2rem;
        padding: 1.2rem 3.4rem .9rem 3.4rem;
        border-radius: $round-radius;
        font-family: $primary-font;
        color: $total-black;
        border: 0;
        white-space: nowrap;
        background-image: linear-gradient(to bottom, #fff, #f2f2f2);
        box-shadow: 0 .1rem .2rem 0 $box-shadow-black;
        cursor: pointer;
      }
    }
  }

}