@import './variables.scss';

.section__products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 116rem;
  padding-top: 4.6rem;
  overflow: hidden;


  @media screen and (max-width: $break-large) {
    width: 100%;
  }

  .section__products__types {
    display: flex;
    flex-direction: row;
    max-width: 116rem;

    @media screen and (max-width: $break-large) {
      width: auto;
    }

    .section__products_container_text:nth-child(3) {
      padding: 0 9rem;
      color: $light-grey-2;

      @media screen and (max-width: $break-small) {
        padding: 0 3rem;
      }
    }

    .section__products_container_text:nth-child(2) {
      padding-left: 3rem;
    }

    .section__products_container_text:nth-child(4) {
      padding-right: 3rem;
      color: $light-grey-2;
    }


    .section__products_container_text {
      display: flex;
      font-size: 1.8rem;
      font-family: 'lovelo';
      color: $total-black;

      @media screen and (max-width: $break-small) {
        font-size: 1.4rem;
      }
    }

    .section__products__seperatorLine {
      position: relative;
      left: 0;
      margin-top: .5rem;
      height: .1rem;
      width: 25vw;
      background-color: $seperator-line-grey;
    }

    .section__products__container_icon {
      margin-left: .9rem;
      margin-top: .4rem;
      height: .4rem;
      border-top: solid .4rem $black;
      border-left: solid .3rem transparent;
      border-right: solid .3rem transparent;
    }
  }

  .section__products__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // justify-content: flex-end;
    align-items: center;
    width: 116rem;

    @media screen and (max-width: $break-large) {
      width: auto;
      .section__products__item:nth-child(n + 7) {
        display: none;
      }
    }

    .section__products__image {
      height: 35.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .section__products__item {
      flex: 1 0 21%;
      padding-top: 2.2rem;
      padding-bottom: 3.5rem;
      margin-right: 3.7rem;

      @media screen and (max-width: $break-large) {
        flex: 1 0 30%;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @media screen and (max-width: $break-medium) {
        flex: 1 0 34%;
      }
    }

  .section__products__item:nth-child(4n + 4) {
    margin-right: 0;

    @media screen and (max-width: $break-large) {
      margin-right: 2rem;
    }
  }

    .section__products__seperatorLine {
      height: .1rem;
      width: 100%;
      background-color: $seperator-line-grey;
      margin-bottom: 2rem;
    }

    .section__products__price {
      font-family: 'lovelo';
      font-size: 1.6rem;
      color: $total-black;
    }

    .section__products__about {
      padding-top: .8rem;
      font-family: 'lato-regular';
      font-size: 1.4rem;
      color: $black-greyer;
      max-width: 70%;
    }
  }

  .section__products__loadMore {
    width: 22.4rem;
    height: 3.4rem;
    padding: 1rem 3.5rem;
    margin-top: 3.5rem;
    margin-bottom: 6.5rem;
    border: 0;
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    border-radius: $round-radius;
    font-family: $primary-font;
    color: $total-black;
    white-space: nowrap;
    box-shadow: 0 .1rem .2rem 0 $box-shadow-black;
    cursor: pointer;
  }


}