@import "./variables.scss";

.section__recentSearches {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: .1rem;
  border-bottom: .1rem solid $seperator-line-grey;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }

  .section__recentSearches_container .section__recentSearches__image:nth-child(2) {
    border-left: .1rem solid $seperator-line-grey;
  }

  .section__recentSearches_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 116rem;
    margin-left: 6rem;

    @media screen and (max-width: $break-large) {
      width: 100%;
      margin-left: 4rem;
    }


    .section__recentSearches_text {
      padding-right: 3rem;
      font-size: 1.4rem;
      font-family: 'lovelo';
      color: $total-black;
      white-space: nowrap;
      position: relative;
    }

    .section__recentSearches__image {
      border-right: .1rem solid $seperator-line-grey;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      width: 9.5rem;
    }
  }
}
