$light-grey: #e7e7e8;
$light-grey-2: #a0a1a3;
$light-grey-3: #a8a8a8;
$light-grey-intro: #e0ded4;
$light-grey-border: #ecebe5;
$light-input-grey: rgba(0,0,0,0.4);
$light-header-grey: rgba(17, 21, 26,0.4);
$seperator-line-grey: rgba(17, 21, 26,0.1);

$theme-color: #ff6600;
$white: #fff;

$black: rgb(17,21,26);
$total-black: #000;
$black-greyer: rgba(0,0,0,0.5);

$box-shadow-black: rgba(0,0,0,0.29);
$box-shadow-white: rgba(241,241,241,1);

$primary-font: 'lovelo';
$secondary-font-regular: 'lato-regular';
$secondary-font-bold: 'lato-bold';

$round-radius: 5rem;

$break-large: 1160px;
$break-medium: 960px;
$break-small: 640px;