.header {
  height: 15rem;
  max-width: 116rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 3rem; }
  @media screen and (max-width: 960px) {
    .header {
      padding: 0 2rem; } }
  .header .header__nav__burger {
    position: absolute;
    left: -99rem; }
    @media screen and (max-width: 960px) {
      .header .header__nav__burger {
        left: 3rem;
        top: 3rem;
        z-index: 9; }
        .header .header__nav__burger:hover {
          cursor: pointer; } }
  .header .header__menuOptions {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem 0 1rem 0; }
    @media screen and (max-width: 960px) {
      .header .header__menuOptions {
        flex-direction: column; } }
    .header .header__menuOptions .header__logo {
      margin-right: auto; }
      @media screen and (max-width: 960px) {
        .header .header__menuOptions .header__logo {
          margin: 0 auto; } }
    .header .header__menuOptions .header__container {
      display: flex; }
      @media screen and (max-width: 960px) {
        .header .header__menuOptions .header__container {
          flex-wrap: wrap;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-around; } }
      @media screen and (max-width: 640px) {
        .header .header__menuOptions .header__container {
          flex-direction: column; } }
      .header .header__menuOptions .header__container .header__searchBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0.1rem solid #e7e7e8;
        border-radius: 5rem;
        font-family: "lato-regular";
        padding: 1rem 1.8rem .8rem 1.5rem;
        width: 23.9rem;
        height: 3.2rem; }
        @media screen and (max-width: 960px) {
          .header .header__menuOptions .header__container .header__searchBox {
            display: none; } }
        .header .header__menuOptions .header__container .header__searchBox input {
          border: 0;
          font-size: 1.3rem; }
        .header .header__menuOptions .header__container .header__searchBox input::-webkit-input-placeholder {
          color: rgba(0, 0, 0, 0.4); }
      .header .header__menuOptions .header__container .header__userInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 3.3rem; }
        @media screen and (max-width: 960px) {
          .header .header__menuOptions .header__container .header__userInfo {
            display: none;
            margin: 1rem; } }
        .header .header__menuOptions .header__container .header__userInfo p {
          font-size: 1.3rem;
          font-family: "lato-regular";
          padding-left: .9rem; }
      .header .header__menuOptions .header__container .header__shoppingCart {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2.5rem; }
        @media screen and (max-width: 960px) {
          .header .header__menuOptions .header__container .header__shoppingCart {
            display: none;
            margin: 1rem; } }
        .header .header__menuOptions .header__container .header__shoppingCart p {
          font-size: 1.3rem;
          font-family: "lato-regular";
          padding-left: .9rem; }
      .header .header__menuOptions .header__container .header__shoppingButton {
        height: 3.2rem;
        width: 10.5rem;
        border: 0;
        padding: 1.2rem 1rem;
        margin-left: 2.5rem; }
        @media screen and (max-width: 960px) {
          .header .header__menuOptions .header__container .header__shoppingButton {
            display: none;
            margin-left: 0; } }
  .header .header__seperator {
    display: flex;
    align-items: center;
    flex-direction: row; }
    .header .header__seperator p {
      font-family: "lato-regular";
      padding-left: 2.7rem;
      padding-right: .8rem;
      color: rgba(17, 21, 26, 0.4);
      font-size: 1.1rem;
      white-space: nowrap; }
    @media screen and (max-width: 960px) {
      .header .header__seperator p {
        padding-left: 0; } }
    .header .header__seperator .header__seperatorLine {
      height: .1rem;
      width: 100%;
      background-color: rgba(17, 21, 26, 0.1); }
  .header .navigation {
    padding-top: 2.5rem; }
    .header .navigation .navigation__container {
      display: flex;
      flex-direction: row;
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .header .navigation .navigation__container::-webkit-scrollbar {
        display: none; }
      .header .navigation .navigation__container .navigation__container__item {
        display: flex;
        align-items: center;
        padding-right: 4.2rem;
        color: #11151a;
        font-family: "lovelo";
        font-size: 1.3rem;
        position: relative; }
        .header .navigation .navigation__container .navigation__container__item:hover {
          color: rgba(0, 0, 0, 0.5);
          cursor: pointer; }
      .header .navigation .navigation__container .navigation__container__icon {
        margin-left: .9rem;
        margin-bottom: .3rem;
        height: .4rem;
        border-top: solid 0.4rem #11151a;
        border-left: solid .3rem transparent;
        border-right: solid .3rem transparent; }

.header__menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 16rem;
  z-index: 8;
  overflow: hidden;
  background-color: #fff; }
  @media screen and (min-width: 960px) {
    .header__menu {
      display: none; } }
  @media screen and (max-width: 640px) {
    .header__menu {
      height: 25rem; } }

@media screen and (max-width: 960px) {
  .display__items {
    z-index: 9;
    display: flex !important;
    align-items: center;
    justify-content: center; } }

.section__intro {
  width: 100%; }
  .section__intro .section__intro__backgroundImage {
    width: 100%;
    height: 54.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/src/assets/images/banner.png");
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1160px) {
      .section__intro .section__intro__backgroundImage {
        width: auto; } }
    @media screen and (max-width: 960px) {
      .section__intro .section__intro__backgroundImage {
        background: #e0ded4;
        align-items: flex-start; } }
    .section__intro .section__intro__backgroundImage .section__intro__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 110rem; }
      @media screen and (max-width: 1160px) {
        .section__intro .section__intro__backgroundImage .section__intro__container {
          width: 82rem; } }
      @media screen and (max-width: 960px) {
        .section__intro .section__intro__backgroundImage .section__intro__container {
          width: 80%;
          padding-left: 2rem; } }
      .section__intro .section__intro__backgroundImage .section__intro__container .section__intro__heading {
        font-size: 5.1rem;
        font-family: 'lovelo';
        color: #fff;
        padding-bottom: 2rem;
        max-width: 55rem;
        line-height: 4.5rem; }
      .section__intro .section__intro__backgroundImage .section__intro__container .section__intro__description {
        font-size: 1.4rem;
        font-family: 'lato-regular';
        color: rgba(0, 0, 0, 0.5);
        padding-bottom: 5.7rem;
        max-width: 60rem; }
      .section__intro .section__intro__backgroundImage .section__intro__container .section__intro__button {
        width: 17.5rem;
        height: 3.2rem;
        padding: 1.2rem 3.4rem .9rem 3.4rem;
        border-radius: 5rem;
        font-family: "lovelo";
        color: #000;
        border: 0;
        white-space: nowrap;
        background-image: linear-gradient(to bottom, #fff, #f2f2f2);
        box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.29);
        cursor: pointer; }

.section__recentSearches {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: .1rem;
  border-bottom: 0.1rem solid rgba(17, 21, 26, 0.1);
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  .section__recentSearches::-webkit-scrollbar {
    display: none; }
  .section__recentSearches .section__recentSearches_container .section__recentSearches__image:nth-child(2) {
    border-left: 0.1rem solid rgba(17, 21, 26, 0.1); }
  .section__recentSearches .section__recentSearches_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 116rem;
    margin-left: 6rem; }
    @media screen and (max-width: 1160px) {
      .section__recentSearches .section__recentSearches_container {
        width: 100%;
        margin-left: 4rem; } }
    .section__recentSearches .section__recentSearches_container .section__recentSearches_text {
      padding-right: 3rem;
      font-size: 1.4rem;
      font-family: 'lovelo';
      color: #000;
      white-space: nowrap;
      position: relative; }
    .section__recentSearches .section__recentSearches_container .section__recentSearches__image {
      border-right: 0.1rem solid rgba(17, 21, 26, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      width: 9.5rem; }

.section__products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 116rem;
  padding-top: 4.6rem;
  overflow: hidden; }
  @media screen and (max-width: 1160px) {
    .section__products {
      width: 100%; } }
  .section__products .section__products__types {
    display: flex;
    flex-direction: row;
    max-width: 116rem; }
    @media screen and (max-width: 1160px) {
      .section__products .section__products__types {
        width: auto; } }
    .section__products .section__products__types .section__products_container_text:nth-child(3) {
      padding: 0 9rem;
      color: #a0a1a3; }
      @media screen and (max-width: 640px) {
        .section__products .section__products__types .section__products_container_text:nth-child(3) {
          padding: 0 3rem; } }
    .section__products .section__products__types .section__products_container_text:nth-child(2) {
      padding-left: 3rem; }
    .section__products .section__products__types .section__products_container_text:nth-child(4) {
      padding-right: 3rem;
      color: #a0a1a3; }
    .section__products .section__products__types .section__products_container_text {
      display: flex;
      font-size: 1.8rem;
      font-family: 'lovelo';
      color: #000; }
      @media screen and (max-width: 640px) {
        .section__products .section__products__types .section__products_container_text {
          font-size: 1.4rem; } }
    .section__products .section__products__types .section__products__seperatorLine {
      position: relative;
      left: 0;
      margin-top: .5rem;
      height: .1rem;
      width: 25vw;
      background-color: rgba(17, 21, 26, 0.1); }
    .section__products .section__products__types .section__products__container_icon {
      margin-left: .9rem;
      margin-top: .4rem;
      height: .4rem;
      border-top: solid 0.4rem #11151a;
      border-left: solid .3rem transparent;
      border-right: solid .3rem transparent; }
  .section__products .section__products__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 116rem; }
    @media screen and (max-width: 1160px) {
      .section__products .section__products__items {
        width: auto; }
        .section__products .section__products__items .section__products__item:nth-child(n + 7) {
          display: none; } }
    .section__products .section__products__items .section__products__image {
      height: 35.8rem;
      display: flex;
      align-items: center;
      justify-content: center; }
    .section__products .section__products__items .section__products__item {
      flex: 1 0 21%;
      padding-top: 2.2rem;
      padding-bottom: 3.5rem;
      margin-right: 3.7rem; }
      @media screen and (max-width: 1160px) {
        .section__products .section__products__items .section__products__item {
          flex: 1 0 30%;
          margin: 0 auto;
          padding-left: 2rem;
          padding-right: 2rem; } }
      @media screen and (max-width: 960px) {
        .section__products .section__products__items .section__products__item {
          flex: 1 0 34%; } }
    .section__products .section__products__items .section__products__item:nth-child(4n + 4) {
      margin-right: 0; }
      @media screen and (max-width: 1160px) {
        .section__products .section__products__items .section__products__item:nth-child(4n + 4) {
          margin-right: 2rem; } }
    .section__products .section__products__items .section__products__seperatorLine {
      height: .1rem;
      width: 100%;
      background-color: rgba(17, 21, 26, 0.1);
      margin-bottom: 2rem; }
    .section__products .section__products__items .section__products__price {
      font-family: 'lovelo';
      font-size: 1.6rem;
      color: #000; }
    .section__products .section__products__items .section__products__about {
      padding-top: .8rem;
      font-family: 'lato-regular';
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.5);
      max-width: 70%; }
  .section__products .section__products__loadMore {
    width: 22.4rem;
    height: 3.4rem;
    padding: 1rem 3.5rem;
    margin-top: 3.5rem;
    margin-bottom: 6.5rem;
    border: 0;
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    border-radius: 5rem;
    font-family: "lovelo";
    color: #000;
    white-space: nowrap;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.29);
    cursor: pointer; }

.footer {
  display: flex;
  flex-direction: column;
  width: 116rem;
  justify-content: center; }
  @media screen and (max-width: 1160px) {
    .footer {
      width: 100%; } }
  .footer .footer__section__name {
    font-family: "lovelo";
    color: #000;
    font-size: 1.4rem;
    padding-bottom: 2.5rem; }
  .footer .footer_container__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border: 0.1rem solid rgba(17, 21, 26, 0.1);
    padding: 4.2rem 3rem 1rem 3rem; }
    @media screen and (max-width: 960px) {
      .footer .footer_container__info {
        padding: 4.2rem 2rem; } }
    .footer .footer_container__info .footer__section__links {
      width: 25.9%; }
      @media screen and (max-width: 960px) {
        .footer .footer_container__info .footer__section__links {
          width: 50%; } }
      @media screen and (max-width: 640px) {
        .footer .footer_container__info .footer__section__links {
          width: 100%; } }
    .footer .footer_container__info .footer__info .footer__info__link {
      font-family: "lato-regular";
      font-size: 1.3rem;
      color: #000;
      padding-bottom: 2.3rem; }
      .footer .footer_container__info .footer__info .footer__info__link:hover {
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer; }
    .footer .footer_container__info .footer__section__payTypes {
      width: 41.81%; }
      @media screen and (max-width: 960px) {
        .footer .footer_container__info .footer__section__payTypes {
          width: 50%; } }
      @media screen and (max-width: 640px) {
        .footer .footer_container__info .footer__section__payTypes {
          width: 100%;
          padding-top: 2.2rem; } }
      .footer .footer_container__info .footer__section__payTypes .footer_section_about {
        font-family: "lato-regular";
        font-size: 1.3rem;
        color: #000;
        padding-bottom: 1.5rem;
        line-height: 1.8rem;
        color: #a8a8a8; }
      .footer .footer_container__info .footer__section__payTypes .footer_section_about_red {
        color: #ff6600; }
    .footer .footer_container__info .footer__section__contacts {
      width: 32.2%; }
      @media screen and (max-width: 960px) {
        .footer .footer_container__info .footer__section__contacts {
          width: 100%;
          padding-top: 2.2rem; } }
      .footer .footer_container__info .footer__section__contacts .footer__newsletter__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 4.5rem; }
        @media screen and (max-width: 960px) {
          .footer .footer_container__info .footer__section__contacts .footer__newsletter__box {
            justify-content: flex-start; } }
        .footer .footer_container__info .footer__section__contacts .footer__newsletter__box .footer__newsletter__input {
          width: 24.1rem;
          height: 3.2rem;
          padding-left: 1.9rem;
          border: 0.1rem solid #e7e7e8;
          border-radius: 5rem;
          font-family: "lato-regular";
          box-sizing: border-box; }
          .footer .footer_container__info .footer__section__contacts .footer__newsletter__box .footer__newsletter__input input {
            border: 0;
            font-size: 1.2rem; }
          .footer .footer_container__info .footer__section__contacts .footer__newsletter__box .footer__newsletter__input input::-webkit-input-placeholder {
            color: #a8a8a8; }
        .footer .footer_container__info .footer__section__contacts .footer__newsletter__box .footer__newsletter__button {
          height: 3.2rem;
          width: 10.5rem;
          border: 0;
          padding: 1.2rem 1rem;
          margin-left: 2.5rem; }
      .footer .footer_container__info .footer__section__contacts .footer__section_contact .footer_contact__number {
        font-family: "lato-bold";
        font-size: 3rem;
        color: #a8a8a8;
        padding-bottom: 2.5rem; }
      .footer .footer_container__info .footer__section__contacts .footer__section_contact .footer_contact__email {
        font-family: "lato-bold";
        font-size: 1.4rem;
        color: #000; }
  .footer .footer__container__rights {
    padding: 4rem 0 4rem 3rem; }
    @media screen and (max-width: 960px) {
      .footer .footer__container__rights {
        padding: 4rem 0 4rem 2rem; } }
    .footer .footer__container__rights .footer__rights__about {
      font-family: "lato-regular";
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: rgba(0, 0, 0, 0.5); }

.main__container {
  display: flex;
  align-items: center;
  flex-direction: column; }

.theme__button {
  background-image: linear-gradient(to bottom, #FFA060, #ff6600);
  border: 0;
  color: #fff;
  border-radius: 5rem;
  font-family: "lovelo";
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.29);
  cursor: pointer; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  box-sizing: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

input, button {
  outline: 0; }

@font-face {
  font-family: 'lovelo';
  src: url(fonts/lovelo_black-webfont.eot);
  src: url(fonts/lovelo_black-webfont.otf) format("opentype"), url(fonts/lovelo_black-webfont.woff) format("woff"), url(fonts/lovelo_black-webfont.ttf) format("truetype"), url(fonts/lovelo_black-webfont.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato-regular';
  src: url(fonts/Lato-Regular.ttf) format("truetype"), url(fonts/Lato-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato-bold';
  src: url(fonts/Lato-Bold.ttf) format("truetype"), url(fonts/Lato-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

